$color-red: #D93140;
$color-blue: #29728D;
$color-accent: #26D188;
$color-white: #e3ece8;
$color-black: #111010;

// sidebar

.o-sidebar {
    height: 100vh;
    width: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: $color-red;

    ul {
        padding: 40px;
        height: max-content;
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $color-white;
    }
}



.o-wrapper {
    margin-left: 100px; // @todo tempfix the problem that sidebar doesn't take up space
    background-color: $color-blue;


    // home
    .o-home {
        height: 100vh;
        padding-top: 20%;
        background-color: $color-blue;

        .m-home-left {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        

        .m-profilePhoto {
            height: 300px;
            width: 300px;
            background-color: $color-white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .m-home {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            color: $color-white;
            text-align: right;

            .a-mainTitle {
                font-size: 40px;
            }
            .a-mainDescr {
                font-size: 21px;
            }
        }
    }
    .o-text-accent {
        color: $color-accent;
    }

    .o-skills {
        font-family: Arial, Helvetica, sans-serif;
        height: 100vh;
        background-color: $color-blue;

        .m-skills {
            padding-top: 20vh;

            .a-skillTitle {
                font-size: 28pt;
                color: $color-white;
                font-weight: 500;
                text-align: center;
            }
            .a-invertTitle {
                color: $color-blue;
            }
        }
        .m-graphicLogo {
            display: flex;
            align-items: center;
            flex-direction: column;

            .a-graphicLogo {
                margin-top: 3vh;
                position: relative;
                .a-chartTitle {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    text-align: center;
                    color: $color-black;
                    font-weight: bold;
                    font-size: 15pt;

                }
            }
        }
        
    }

    .o-languages {
        background-color: $color-white;
    }

    .o-technical {
        background-color: $color-blue;
    }
    
}


