.o-sidebar {
  height: 100vh;
  width: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #D93140;
}
.o-sidebar ul {
  padding: 40px;
  height: max-content;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #e3ece8;
}

.o-wrapper {
  margin-left: 100px;
  background-color: #29728D;
}
.o-wrapper .o-home {
  height: 100vh;
  padding-top: 20%;
  background-color: #29728D;
}
.o-wrapper .o-home .m-home-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.o-wrapper .o-home .m-profilePhoto {
  height: 300px;
  width: 300px;
  background-color: #e3ece8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.o-wrapper .o-home .m-home {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  color: #e3ece8;
  text-align: right;
}
.o-wrapper .o-home .m-home .a-mainTitle {
  font-size: 40px;
}
.o-wrapper .o-home .m-home .a-mainDescr {
  font-size: 21px;
}
.o-wrapper .o-text-accent {
  color: #26D188;
}
.o-wrapper .o-skills {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: #29728D;
}
.o-wrapper .o-skills .m-skills {
  padding-top: 20vh;
}
.o-wrapper .o-skills .m-skills .a-skillTitle {
  font-size: 28pt;
  color: #e3ece8;
  font-weight: 500;
  text-align: center;
}
.o-wrapper .o-skills .m-skills .a-invertTitle {
  color: #29728D;
}
.o-wrapper .o-skills .m-graphicLogo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.o-wrapper .o-skills .m-graphicLogo .a-graphicLogo {
  margin-top: 3vh;
  position: relative;
}
.o-wrapper .o-skills .m-graphicLogo .a-graphicLogo .a-chartTitle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #111010;
  font-weight: bold;
  font-size: 15pt;
}
.o-wrapper .o-skills .m-graphicLogo .a-graphicLogo .a-chartTitleLang {
  color: #111010;
}
.o-wrapper .o-skills .o-programming-skills {
  list-style: none;
  margin: 2vw auto;
}
.o-wrapper .o-skills .o-programming-skills li {
  margin: 3vh 0;
}
.o-wrapper .o-skills .o-programming-skills h3 {
  color: #e3ece8;
  font-size: 15pt;
  margin: 3vh 0;
}
.o-wrapper .o-skills .o-programming-skills .bar {
  background: #e3ece8;
  display: block;
  height: 5px;
  border: 1px solid #e3ece8;
  border-radius: 3px;
  overflow: hidden;
}
.o-wrapper .o-skills .o-programming-skills .bar span {
  background: #D93140;
  height: 5px;
  float: left;
}
.o-wrapper .o-skills .o-programming-skills .a-programming-skills-javascript {
  width: 80%;
  animation: javascript 2s;
}
.o-wrapper .o-skills .o-programming-skills .a-programming-skills-react {
  width: 70%;
  animation: react 2s;
}
.o-wrapper .o-skills .o-programming-skills .a-programming-skills-php {
  width: 84%;
  animation: php 2s;
}
.o-wrapper .o-skills .o-programming-skills .a-programming-skills-laravel {
  width: 80%;
  animation: laravel 2s;
}
.o-wrapper .o-skills .o-programming-skills .a-programming-skills-python {
  width: 53%;
  animation: python 2s;
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 84%;
  }
}
@keyframes laravel {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 53%;
  }
}
.o-wrapper .o-languages {
  background-color: #e3ece8;
}
.o-wrapper .o-technical {
  background-color: #29728D;
}

/*# sourceMappingURL=main.css.map */
